/*
*
* @project		:	API-demo
*
* @description	:	This API demo demonstrates how interactive websites can work without the use of templates (code and placeholders in HTML)
*
* @license		:	https://creativecommons.org/licenses/by-sa/4.0/
*
* @author		:	Mike P.J. van Dartel <dartello@gmail.com>
*
*
*
* @date			:	Tuesday, 21 January 2020
*
* @launch		:	unknown
*
*
*
* @content		:	Main style sheet for main web environment.
*
*					Index:
*					- Charset
*					- Google Fonts
*					- Default HTML Tag styles: HTML ELEMENTS (TAGS)
*					1 ALIGNMENT STYLES
*						1.1 WIDTH
*						1.2 CENTER CONTENT
*						1.3 960 GRID SYSTEM
*						1.4 BLUR
*						1.5 BUTTONS
*					2 CONTENT
*
* @remarks		:
*
* @change log	:
*
*/
@charset "utf-8";
/* CSS Document */


/* Julius Sans One */
@import url("http://fonts.googleapis.com/css?family=Julius+Sans+One:400,300,300italic,400italic,700,800&subset=latin,cyrillic");
/* Alegreya Sans SC */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,300italic,400italic,700,800&subset=latin,cyrillic");
/* Open Sans */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,800&subset=latin,cyrillic");

/* HTML ELEMENTS (TAGS) */
body
{
	font-family: "Open Sans", serif, Georgia, sans-sarif;
	font-size: 11pt;
	margin: 0;
	overflow-x: hidden;
}
h1
{
	font-family: "Julius Sans One", serif, Georgia, sans-sarif;
	font-weight: 900;
}
h2
{
	font-weight: 300;
}
h1, h2
{
	text-align: center;
}
img{border-width: 0}
a{text-decoration: none}
a:hover{text-decoration: underline}
input:not([type="radio"]):not([type="checkbox"]),
textarea,
select
{
	border: 0;
	display: block;
	width: 100%;
}
.input,
.textarea,
.select
{
	border: #555 thin solid;
	border-radius: 3px;
	margin: 5px 0;
	padding: 5px 3px;
}
ul, dl, dd, dt
{
/*	line-height: 0;
*/	list-style: none;
	margin: 0;
	padding: 0;
}

.block,
ul, dl, dd, dt,
.center
{
	display: block !important;
}

/* 1 ALIGNMENT STYLES */

.left{float: left}
.right{float: right}

.left:last-of-type::after,
.right:last-of-type::after,
.clear
{
	clear: both;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.background
{
}


/* 1.1 WIDTH */

.full-width{width: 100%}
.content-width{width: 85%}

.full-screen-width > div > div
{
	left: 49.4%;
	position: relative;
}


/* 1.2 CENTER */

.center-text
{
	text-align: center;
}
.center
{
	position: relative;
	left: 50%;
	width: 100%;
}
.inline-block,
.center > *,
.button
{
	display: inline-block;
}
.center > * > *
{
	display: block; /* NOT CSS-IMPORTANT!!! */
}

/* 1.3 960 GRID SYSTEM */

.center > * > *,
.gs960
{
	position: relative;
	left: -50%;

	width: 960px;
}
.gs960:not(img)
{
	max-width: 960px;
}
.gs960.fixed
{
	width: 960px;
}


/* 1.4 BLUR */

.blur
{
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}


/* 1.5 BUTTONS */

.button
{
	background-color: #333333;
	border: thin solid #999999;
	border-radius: 5px;
	box-sizing: border-box;
	color: #eeeeee;
	cursor: pointer;
	padding: 3px 22px;
	transition: all 0.4s ease-in-out;
}
.button:hover
{
/*	background-color: #f9f9f9;
*/	background-color: white;
	border-color: #555555;
/*	box-shadow: 0 0 5px 5px white inset;
*/	color: #333333;
	text-decoration: none;
}


/* 2 CONTENT */

.fixed
{
	position: fixed;
	top: 0;
	width: 100%;
}

#bar-graphic-perc
{
	margin: 40px 20px;
}

.gr-perc
{
	margin: 10px 0;
}

.gr-perc > div > div.left > div
{
	padding: 10px;
}

.gr-perc > div:first-child > span:first-of-type
{
	display: inline-block;
	margin-right: 15px;
	width: 60px;
}

.value1
{
	background-color: #25b328;
}

.value2
{
	background-color: #f93232;
}

#bar-graphic
{
	height: 500px;
	margin: 0 20px;
}

#bar-graphic > div.left
{
	width: 25%;
}

#bar-graphic > div.left > div
{
	margin: 0 30.5%;
}

#bar-graphic > div.left > div > div,
#bar-graphic > div.left > div > div > div.bars
{
	display: table-cell;
	position: relative;
	vertical-align: bottom;
}

#bar-graphic > div.left > div > div > div.bars
{
	height: calc(100% - 100px);
}

#bar-graphic > div.left,
#bar-graphic > div.left > div,
#bar-graphic > div.left > div > div,
#bar-graphic > div.left > div > div > div.bars > div
{
	height: inherit;
}

#bar-graphic > div.left > div > div > div > div
{
	text-align: center;
}

#bar-graphic > div.left > div > div > div.bars > div > div.left
{
	height: 40px;
	margin: 0 1px;
	position: relative;
}

#bar-graphic > div.left > div > div > div.bars > div > div.left > div
{
	position: relative;
	width: 42px;
}

#bar-graphic > div.left > div > div > div.bars > div > div.left > div:last-child
{
/*	border-top: #444444 10px solid;
*/	height: 0;
}

#logs-table > div
{
	border: #222222 solid thin;
	border-radius: 2px;
	margin: 0 20px;
}

#logs-table > div > div:first-child
{
	border-bottom: #777777 solid thin;
}

#logs-table > div > div:last-child
{
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#logs-table div > span
{
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 2px;
}

#logs-table div > span:nth-child(1)
{
	min-width: 60px;
	width: 10%;
}

#logs-table div > span:nth-child(2)
{
	min-width: 250px;
	width: 33%;
}

#logs-table div > span:nth-child(3),
#logs-table div > span:nth-child(4)
{
	min-width: 45px;
	width: 20%;
}

#logs-table > div > div:first-child > div
{
	background-color: #dddddd;
}

#logs-table > div > div:first-child > div > span
{
	border-right: #777777 solid thin;
}